
button{
    margin-top: 20px;
    height:50px;
    width: 200px;
    font-size: 30px;
    border-radius: 30px;
}
img{
    width:300px;
    height: 400px;
}
#name{
    font-size: 30px;
}